/* 
filename: styles.css
authors: Aron Winjoto, Ryan Tay, Lira Khisha
created: 26/9/25
last modified: 7/9/25
description: applies to index.html, about.html, jobs.html, apply.html
*/

:root{
    color: rgb(0, 0, 0); /*text color*/

    --main-blue: #5575a6;
    --main-dark-blue: #232d3d;
    --main-white: #e6e9ed;
    --text-white: #fafcfc;

    font-family: "Barlow", sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

* {
    /* Simple CSS reset for consistency across different browsers */
    box-sizing: border-box; /* width/height will now include border */
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR STYLES
author: Ryan Tay
created: 7/9/25
last modified: 7/9/25
description: Layout and styling for header/footer navigation menu*/

/* RYAN: This is just a temporary layout, we will use flexbox to incorporate responsive design later */
header {
    background-color: white;
}

nav > img, nav > ul {
    display: inline-block;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
}

nav > ul > li > a {
    text-decoration: none;
}

/* BACKGROUND KEYFRAME ANIMATION
author: Aron Winjoto
created: 
last modified: 
description: 
*/
body {
    margin: 0;
    height: 100vh; /*makes the body take up the full height of the viewport*/
    background: black;
    overflow-y: auto;
    overflow-x: hidden; /*prevents horizontal scrolling*/
    z-index: -20; /*makes sure the background is behind all other elements*/
}

body::before { /*::before to make another layer in the body section*/
    content: ""; /*necessary for the ::before to work*/
    position: fixed; /*makes the background stay in place when scrolling*/ 
    width:100%; /*makes the background take up the full width of the viewport*/
    height:100%; /*makes the background take up the full height of the viewport*/
       background-image: /* creates the blobs using radial gradients*/
        radial-gradient(at 20% 20%, #4361ee, transparent 40%),
        radial-gradient(at 80% 60%, #4cc9f0, transparent 40%),
        radial-gradient(at 50% 80%, #7209b7, transparent 40%),
        radial-gradient(at 80% 25%, #f72585, transparent 40%);
    animation: moveBlob 20s linear infinite, Blobpulse 3s infinite alternate; /*moves and pulses the blobs*/
    background-size: 200% 200%; /*makes the background bigger so that they can move around more*/
    z-index : -10; /*makes sure the background is behind all other elements*/
    
}
@keyframes moveBlob { /*moves the blobs around*/
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes Blobpulse { /*makes the blobs pulse*/
    0% {
        filter: brightness(0.3);
    }
    100% {
        filter: brightness(1);
    }
}


/* JOB PAGE STYLES
author: Aron Winjoto
created: 01.09.25
last modified: 08.09.25
*/

h1.title {
    text-align:center;
    color: white;
    display: block; 
}

.job-list {
    display: block; /*makes it so that each job listing is on its own line*/
    border: 0px solid rgb(23, 0, 167);
    height: fit-content;
    width: 92%;
    padding-top: -5px;
    padding-left: 10px;
    margin: 10px;
    border-radius: 15px; /*makes it so that the corners are rounded*/
    background-color: rgb(255, 255, 255);
    text-align: left;
    cursor: pointer;
    box-shadow:  8px 8px 15px #000000, -4px -4px 7px #668899; /*creates a shadow around the box*/
    transition: all 0.5s ease /*makes the transition smooth when hovering over the job listing*/
}

input.jobpage {
    display: none;/*hide the radio buttons*/
}

.job-list:hover {
    background-color: rgb(204, 204, 204); /*changes background color when hovering over the job listing*/
    box-shadow:  4px 4px 6px #000000, -4px -4px 6px #668899; /*changes the shadow when hovering over the job listing*/
    transform: scale(1.05); /*scales the job listing up when hovering over it*/
    transition: all 0.5s ease;
}
.job-list:active {
    transform: scale(1); /*scales the job listing back to normal when clicking on it*/
    transition: all 0.1s ease-out; /*makes the transition smooth when clicking on the job listing*/
}

.location {
    margin-top: -5px;
}

.company {
    margin-top: -5px;
}

.detail {
    color: rgb(0, 0, 0);
    display: none; /*hides the job details by default*/
}

#job1:checked ~ .job-detail #detail1,
#job2:checked ~ .job-detail #detail2,
#job3:checked ~ .job-detail #detail3,
#job4:checked ~ .job-detail #detail4 {
    display: block; /*shows the job details when the corresponding radio button is checked*/
}

.job-detail {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 15px; /*makes it so that the corners are rounded*/
    background-color: rgb(255, 255, 255);
    box-shadow:  8px 8px 15px #000000, -4px -4px 7px #668899; /*creates a shadow around the box*/
    width: fit-content;
    height: fit-content;
}

.container {
    display: flex; /*makes the container a flexbox*/
    flex-direction: row; /*makes the job listings and job details side by side*/
}

main.job-detail {
    flex: 75%;
    width: 75%; /*makes the job details take up more space*/
}

aside.job-page {
    flex-direction: column; /*makes the job listings stack on top of each other*/
    flex: 25%; /*makes the job listings take up less space*/
    float:right;
    width: 25%;
    margin: auto;
    border-left-style: double;
    border-left-color: grey;
}

.company, .location {
    margin-top: 5px;
    font-size: 20px;
}

.location {
    margin-bottom: 5px;
}


.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
    transform: translateY(3px); /*Icons default positions are slightly higher than the text, this moves it down to align with the text*/
}


#locationicon {
    font-size: 20px;
}

#domainicon {
    font-size: 20px;
}

.salary {
    font-size: small;
    width: fit-content;
    background-color:rgb(211, 211, 211);
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.job-list:hover .salary { /*makes color consistent when you hover over the job listing*/
    background-color:#a0a0a0;
    transition: all 0.5s ease;
}

.job-footing {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: small;
}

.ref-num {
    text-align: left;
}

.reporting-line {
    text-align: right;
    margin-right: 10px;
}

.job-summary-list {
    margin-left: 20px;
}

/* APPLY PAGE STYLES - START
author: Ryan Tay
created: 7/9/25
last modified: 13/9/25
*/

#apply_heading, #preamble {
    color: var(--text-white);
    text-align: center;
}

#wrapper {
    background-color: var(--main-dark-blue);
    width: 90%;
    max-width: 900px;
    margin: 20px auto 0px; /* Center the wrapper */
    box-shadow: 10px 10px 3px 3px rgba(0,0,0,0.3);
    color: var(--main-dark-blue);
}

#apply_form {
    background-color: var(--main-white);
    margin: 20px 0px;
    display: flex;
    flex-flow: row wrap;
}

.flex_item {
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#gender_fieldset, #skills_fieldset {
    width: 97.5%;
    display: grid;
    margin: 0 auto;
}

#other_skills_container {
    display: none;
    margin: 5px 0px 10px 10px;
}

#other:checked + div, #other:checked + div > * {
    display: block; /* Show the textarea when the user checks "other skills" */
}

#apply_form, #wrapper {
    padding: 30px;
    border-radius: 5px;
}

#button_container {
    width: 100%;
    justify-content: space-evenly;
}

#button_container > input {
    font-family: "Barlow", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    display: inline-block;
    position: relative;
    margin-top: 20px;
    width: 30%;
    border: none;
    border-radius: 10px;
    background-color: var(--main-blue);
    color: var(--text-white);
    transition: all 0.2s ease-in-out; /* transition box-shadow, background-color, translate position */
}

#button_container > input:hover {
    box-shadow: 4px 4px rgba(0,0,0,0.5);
    background-color: var(--main-dark-blue);
    transform: translate(-3px, -2px);
    cursor: pointer;
}

input:focus {
    outline: 0.2em dashed var(--main-blue);
}

/* Validation styling - radio/checkbox inputs have their own custom styling */
input:not([type="checkbox"], [type="radio"]):valid, select:valid {
    border: 2px solid #a3db40;
    background-color: #f2f5ed;
}

input:not([type="checkbox"], [type="radio"]):invalid, select:invalid {
    border: 2px solid #eb8188;
    background-color: #fcf2f0;
}


/* Custom radio buttons/checkboxes

Remove default browser styling and create radio/checkbox buttons of custom height, width and colour
Pseudo-element box-shadow appears when checked using the 'scale' property

credit: Stephanie Eckles
- https://moderncss.dev/pure-css-custom-styled-radio-buttons/
- https://moderncss.dev/pure-css-custom-checkbox-style/
*/

.checkbox_container, .radio_container {
    font-size: 1.1em;
    margin: 0.2em 0 0.2em 1em;
    display: grid;
    grid-template-columns: 1em auto; /* checkbox: 1em | label: remaining available space */
    gap: 1em; /* space between the checkbox and label*/
}

input[type="checkbox"], input[type="radio"] {
    -webkit-appearance: none; /* supports Chrome, Safari, Opera */
    appearance: none; /* supports Mozilla Firefox */
    margin: 0;
    background-color: #fff; /* iOS 14 or older have default gradient background styling */
    font: inherit;
    color: currentColor; /* same as parent color  */
    border: 0.13em solid currentColor;
    width: 1.3em;
    height: 1.3em;
    transform: translateY(-0.065em); /* align label to the bottom edge of the input*/
    /* for ::before pseudo-element*/
    display: grid;
    place-content: center; 

}

input[type="checkbox"] {
    border-radius: 0.3em;
}

input[type="radio"] {
    border-radius: 50%;
}

#skills_fieldset > label:first-of-type, #gender_fieldset > label:first-of-type {
    margin-top: 1em;
}

#skills_fieldset label:last-of-type, #gender_fieldset > label:last-of-type {
    margin-bottom: 1em;
}

input[type="checkbox"]::before, input[type="radio"]::before {
    content: "";
    width: 0.7em;
    height: 0.7em;
    transform: scale(0);
    transition: 0.1s transform ease-in-out;
    box-shadow: inset 1em 1em var(--main-dark-blue);
    background-color: CanvasText; /* Windows High Contrast Mode */
}

input[type="radio"]::before {
    border-radius: 50%;
}

input[type="checkbox"]::before {
    border-radius: 0.15em;
}

input[type="checkbox"]:checked::before, input[type="radio"]:checked::before { /* show the pseudo-element attached to checkbox/radio button when it is checked */
    transform: scale(1)
}

/* APPLY PAGE STYLES - END */