/* 
filename: styles.css
authors: Aron Winjoto, Ryan Tay, Lira Khisha
created: 26/9/25
last modified: 7/9/25
description: applies to index.html, about.html, jobs.html, apply.html
*/

:root{
    color: rgb(0, 0, 0); /*text color*/

    --main-blue: #5575a6;
    --main-dark-blue: #232d3d;
    --main-white: #e6e9ed;
    --text-white: #fafcfc;

    font-family: "Saira", sans-serif;
}

* {
    /* Simple CSS reset for consistency across different browsers */
    box-sizing: border-box; /* width/height will now include border */
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR STYLES
author: Ryan Tay
created: 7/9/25
last modified: 7/9/25
description: Layout and styling for header/footer navigation menu*/

/* RYAN: This is just a temporary layout, we will use flexbox to incorporate responsive design later */
header {
    background-color: white;
}

nav > img, nav > ul {
    display: inline-block;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
}

nav > ul > li > a {
    text-decoration: none;
}

/* BACKGROUND KEYFRAME ANIMATION
author: Aron Winjoto
created: 
last modified: 
description: 
*/
body {
    margin: 0;
    height: 100vh; /*makes the body take up the full height of the viewport*/
    width: 100vw; /*makes the body take up the full width of the viewport*/
    background: black;
    overflow: hidden; /*hides any overflow*/
    z-index: -20; /*makes sure the background is behind all other elements*/
}

body::before { /*::before to make another layer in the body section*/
    content: ""; /*necessary for the ::before to work*/
    position: absolute; /*makes the position absolute so that it can be positioned anywhere*/
    inset: 0; /*blobs wouldnt show unless i did this*/
    background-image: /* creates the blobs using radial gradients*/
        radial-gradient(at 20% 20%, #4361ee, transparent 40%),
        radial-gradient(at 80% 60%, #4cc9f0, transparent 40%),
        radial-gradient(at 50% 80%, #7209b7, transparent 40%),
        radial-gradient(at 80% 25%, #f72585, transparent 40%);
    animation: moveBlob 20s linear infinite, Blobpulse 3s infinite alternate; /*moves and pulses the blobs*/
    background-size: 200% 200%; /*makes the background bigger so that they can move around more*/
    z-index : -10; /*makes sure the background is behind all other elements*/
}
@keyframes moveBlob { /*moves the blobs around*/
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes Blobpulse { /*makes the blobs pulse*/
    0% {
        filter: brightness(0.3);
    }
    100% {
        filter: brightness(1);
    }
}


/* JOB PAGE STYLES
author: Aron Winjoto
created: 01.09.25
last modified: 08.09.25
*/

h1.title {
    text-align:center;
    color: white;
    display: block; 
}

.job-list {
    display: block; /*makes it so that each job listing is on its own line*/
    border: 0px solid rgb(23, 0, 167);
    height: fit-content;
    width: 92%;
    padding-top: -5px;
    padding-left: 10px;
    margin: 10px;
    border-radius: 15px; /*makes it so that the corners are rounded*/
    background-color: rgb(255, 255, 255);
    text-align: left;
    cursor: pointer;
    box-shadow:  8px 8px 15px #000000, -4px -4px 7px #668899; /*creates a shadow around the box*/
    transition: all 0.5s ease /*makes the transition smooth when hovering over the job listing*/
}

input.jobpage {
    display: none;/*hide the radio buttons*/
}

.job-list:hover {
    background-color: rgb(204, 204, 204); /*changes background color when hovering over the job listing*/
    box-shadow:  4px 4px 6px #000000, -4px -4px 6px #668899; /*changes the shadow when hovering over the job listing*/
    transform: scale(1.05); /*scales the job listing up when hovering over it*/
    transition: all 0.5s ease;
}
.job-list:active {
    transform: scale(1); /*scales the job listing back to normal when clicking on it*/
    transition: all 0.1s ease-out; /*makes the transition smooth when clicking on the job listing*/
}

.location {
    margin-top: -5px;
}

.company {
    margin-top: -5px;
}

.detail {
    color: rgb(0, 0, 0);
    display: none; /*hides the job details by default*/
}

#job1:checked ~ .job-detail #detail1,
#job2:checked ~ .job-detail #detail2,
#job3:checked ~ .job-detail #detail3,
#job4:checked ~ .job-detail #detail4 {
    display: block; /*shows the job details when the corresponding radio button is checked*/
}

.job-detail {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 15px; /*makes it so that the corners are rounded*/
    background-color: rgb(255, 255, 255);
    box-shadow:  8px 8px 15px #000000, -4px -4px 7px #668899; /*creates a shadow around the box*/
    width: fit-content;
    height: fit-content;
}

.container {
    display: flex; /*makes the container a flexbox*/
    flex-direction: row; /*makes the job listings and job details side by side*/
}

main.job-detail {
    flex: 75%;
    width: 75%; /*makes the job details take up more space*/
}

aside.job-page {
    flex-direction: column; /*makes the job listings stack on top of each other*/
    flex: 25%; /*makes the job listings take up less space*/
    float:right;
    width: 25%;
    margin: auto;
    border-left-style: double;
    border-left-color: grey;
}

footer.job-footer {
    display: flex;
    justify-content: space-between;
}

.ref-num {
    text-align: left;
}

.reporting-line {
    text-align: right;
    margin-right: 10px;
}

.job-summary-list {
    margin-left: 20px;
}

/* APPLY PAGE STYLES
author: Ryan Tay
created: 7/9/25
last modified: 7/9/25
*/

#apply_heading, #preamble {
    color: var(--text-white);
    text-align: center;
}

#wrapper {
    background-color: var(--main-dark-blue);
    width: 90%;
    max-width: 900px;
    margin: 20px auto 0px; /* Center the wrapper */
    box-shadow: 10px 10px 3px 3px rgba(0,0,0,0.3);
}

#apply_form {
    background-color: var(--main-white);
    margin: 20px 0px;
    display: flex;
    flex-flow: row wrap;
}

.flex_item {
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#gender_fieldset, #skills_fieldset {
    width: 97.5%;
    display: grid;
    margin: 0 auto;
}

#other_skills {
    display: none;
    margin: 5px 0px 10px 10px;
}

#other:checked + textarea {
    display: block; /* Show the textarea when the user checks "other skills" */
}

#apply_form, #wrapper {
    padding: 30px;
    border-radius: 5px;
}

#button_container {
    width: 100%;
    justify-content: space-evenly;
}

#button_container > input {
    font-family: "Saira", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    display: inline-block;
    position: relative;
    margin-top: 20px;
    width: 30%;
    border: none;
    border-radius: 10px;
    background-color: var(--main-blue);
    color: var(--text-white);
    transition: all 0.2s ease-in-out;
}

#button_container > input:hover {
    box-shadow: 4px 4px rgba(0,0,0,0.5);
    background-color: var(--main-dark-blue);
    transform: translate(-3px, -2px);
}